title Miniport by HTML5 UP
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700')
script(src='js/jquery.min.js')
script(src='js/config.js')
script(src='js/skel.min.js')
noscript
  link(rel='stylesheet', href='css/skel-noscript.css')
  link(rel='stylesheet', href='css/style.css')
  link(rel='stylesheet', href='css/style-desktop.css')
//if lte IE 9
  link(rel='stylesheet', href='css/ie9.css')
//if lte IE 8
  script(src='js/html5shiv.js')
  link(rel='stylesheet', href='css/ie8.css')
//if lte IE 7
  link(rel='stylesheet', href='css/ie7.css')
