.wrapper.wrapper-style4
  article#contact.container.small
    header
      h2 Want to hire me? Get in touch!
      span Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.
    div
      .row
        .12u
          form(method='post', action='#')
            div
              .row.half
                .6u
                  input#name(type='text', name='name', placeholder='Name')
                .6u
                  input#email(type='text', name='email', placeholder='Email')
              .row.half
                .12u
                  input#subject(type='text', name='subject', placeholder='Subject')
              .row.half
                .12u
                  textarea#message(name='message', placeholder='Message')
              .row
                .12u
                  a.button.form-button-submit(href='#') Send Message
                  a.button.button-alt.form-button-reset(href='#') Clear Form
      .row
        .12u
          hr
          h3 Find me on ...
          ul.social
            li.twitter
              a.fa.fa-twitter(href='http://twitter.com/n33co')
                span Twitter
            li.facebook
              a.fa.fa-facebook(href='#')
                span Facebook
            li.dribbble
              a.fa.fa-dribbble(href='http://dribbble.com/n33')
                span Dribbble
            li.linkedin
              a.fa.fa-linkedin(href='#')
                span LinkedIn
            li.tumblr
              a.fa.fa-tumblr(href='#')
                span Tumblr
            li.googleplus
              a.fa.fa-google-plus(href='#')
                span Google+
            li.github
              a.fa.fa-github(href='http://github.com/n33')
                span Github
            //
                                <li class="rss"><a href="#" class="fa fa-rss"><span>RSS</span></a></li>
                                <li class="instagram"><a href="#" class="fa fa-instagram"><span>Instagram</span></a></li>
                                <li class="foursquare"><a href="#" class="fa fa-foursquare"><span>Foursquare</span></a></li>
                                <li class="skype"><a href="#" class="fa fa-skype"><span>Skype</span></a></li>
                                <li class="soundcloud"><a href="#" class="fa fa-soundcloud"><span>Soundcloud</span></a></li>
                                <li class="youtube"><a href="#" class="fa fa-youtube"><span>YouTube</span></a></li>
                                <li class="blogger"><a href="#" class="fa fa-blogger"><span>Blogger</span></a></li>
                                <li class="flickr"><a href="#" class="fa fa-flickr"><span>Flickr</span></a></li>
                                <li class="vimeo"><a href="#" class="fa fa-vimeo"><span>Vimeo</span></a></li>
                                
          hr
    footer
      ul#copyright
        li © 2013 Jane Doe
        li
          | Images:
          a(href='http://fotogrph.com') fotogrph
        li
          | Design:
          a(href='http://html5up.net/') HTML5 UP
