.wrapper.wrapper-style1.wrapper-first
  article#top.container
    block intro
      .row
        .4u
          span.me.image.image-full
            img(src='images/me.jpg', alt='')
        .8u
          header
            h1
              | Hi. I'm 
              strong Jane Doe
              | . 
            p
              | And this is 
              strong Miniport
              | , a free, fully responsive HTML5 site template designed by 
              a(href='http://n33.co/') AJ 
              | for 
              a(href='http://html5up.net/') HTML5 UP 
              | & released under the 
              a(href='http://html5up.net/license/') CCA license
              | .
            a.button.button-big(href='#work') Learn about what I do
