.wrapper.wrapper-style3
  article#portfolio
    header
      h2 Awesome work makes happy clients.
      span
        | Proin odio consequat  sapien vestibulum ipsum primis sed amet consequat lorem dolore feugiat lorem ipsum dolore.
    .container
      .row
        .12u
      .row
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/generic-smartphone/8949517882265310')
              img(src='images/portfolio01.jpg', alt='')
            h3
              a(href='http://flypixel.com/generic-smartphone/8949517882265310') Magna feugiat
            p Ornare nulla proin odio consequat.
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/n33')
              img(src='images/portfolio02.jpg', alt='')
            h3
              a(href='http://flypixel.com/n33') Veroeros primis
            p Ornare nulla proin odio consequat.
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/wood-ui-kit/3574765984616310')
              img(src='images/portfolio03.jpg', alt='')
            h3
              a(href='http://flypixel.com/wood-ui-kit/3574765984616310') Lorem ipsum
            p Ornare nulla proin odio consequat.
      .row
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/n33-pattern-set-1/3522389001865317')
              img(src='images/portfolio04.jpg', alt='')
            h3
              a(href='http://flypixel.com/n33-pattern-set-1/3522389001865317') Tempus dolore
            p Ornare nulla proin odio consequat.
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/cityscape/9803996277226316')
              img(src='images/portfolio05.jpg', alt='')
            h3
              a(href='http://flypixel.com/cityscape/9803996277226316') Feugiat aliquam
            p Ornare nulla proin odio consequat.
        .4u
          article.box.box-style2
            a.image.image-full(href='http://flypixel.com/n33')
              img(src='images/portfolio06.jpg', alt='')
            h3
              a(href='http://flypixel.com/n33') Sed amet ornare
            p Ornare nulla proin odio consequat.
    footer
      p Lorem ipsum dolor sit sapien vestibulum ipsum primis?
      a.button.button-big(href='#contact') Get in touch with me
