.wrapper.wrapper-style2
  article#work
    block projects
      header
        h2 I design and build amazing things.
        span Odio turpis amet sed consequat eget posuere consequat.
      .container
        .row
          .4u
            section.box.box-style1
              span.fa.featured.fa-comments-o
              h3 Consequat lorem
              p
                | Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
          .4u
            section.box.box-style1
              span.fa.featured.fa-file-o
              h3 Lorem dolor tempus
              p
                | Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
          .4u
            section.box.box-style1
              span.fa.featured.fa-thumbs-o-up
              h3 Feugiat posuere
              p
                | Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.
      footer
        p Lorem ipsum dolor sit sapien vestibulum ipsum primis?
        a.button.button-big(href='#portfolio') See some of my recent work
